/* @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

::-webkit-scrollbar {
    width: 0;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}
a:hover{
    color: red;
}
button{
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; 
}
body{
    position: absolute;
    background: url(/img/header-foto.svg) no-repeat;
    background-size: cover;
    background-color: #141414;
    color: #fff;
    width: 100vw;
    font: 24px "Yanone Kaffeesatz", sans-serif;
    font-optical-sizing: auto;
}
header{
    margin-bottom: 100px;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    margin: 40px 312px;
}
.header_menu_list{
    display: flex;
    gap: 40px;
}
.burger{
    transition: .4s;
}
.burger:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.header_conteiner{
    display: inline-flex;
    justify-content: center;
}
.header_text-logo{
    text-align: center;
    margin-top: 110px;
    font: 75px "Yanone Kaffeesatz", sans-serif;
    color: #DB3138;
}
.romb{
    text-align: center;
    margin: 30px 0;
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    line-height: 1.2;
}
.header_text-info{
    width: 1200px;
    text-align: center;
    font-size: 35px;
    margin: 50px 0;
}
.header_text-info_items{
    text-align: center;
}
.header_content_btn{
    display: flex;
    justify-content: center;
}
.btn{
    align-items: center;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    justify-content: center;
}
.header_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}
.header_grid_block{
    border:  2px #898989 solid;
    padding: 50px 100px;
}
.header_grid_block-info{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header_grid_block-info_content{
    color: #DB3138;
    margin-bottom: 30px;
}
.container{
    display: flex;
    padding: 0px 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.container-gallery{
    display: flex;
    justify-content: space-between;
    
}
.container div{
    
    max-height: 745px;
}
.achieve{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 134px; 
}
.achieve_content{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main-text{
    font-size: 52px;
}
.achieve_content-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.achieve_content-table_one{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}
.achieve_content-table_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border:  2px #898989 solid;
    padding: 40px;
}
.achieve_content-table_two{
    margin-top: 40px;
}
.achieve_content-table_content_number{
    color: #DB3138;
    font-size: 52px;
    margin-bottom: 25px;
}
.achieve_content_info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.materials{
    margin-left: 15px
}
.slider-button{
    display: flex;
    justify-content: space-between;
}
.slider-button_subtitle{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 450px;
}
.slider-button{
    margin-top: 40px;
}
.services__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.services__deteiling{
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    font-size: 32px;
}
.active{
    background-color: #DB3138;
}
.services__place{
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.services__place-kart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 306px;
    height: 428px;
    border:  2px #898989 solid;
    border-radius: 8px;
}
.services__place-kart{
    align-items: center;
    padding: 70px 30px 35px;
    text-align: center;
}
.services__place-kart__title{
    font-size: 35px;
}
.services__place-kart__subtitle{
    font-size: 20px;
    text-align: center;
}
.services__place-margin{
    margin: 0 30px;
}
.gallery-auto{
    text-align: center;
    margin-bottom: 100px;
}
.gallery-auto__grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px 20px;
    gap: 10px;
}
.gallery-auto__foto{
    overflow: hidden;
    border-radius: 20px;
    transition: all .4s;
}
.gallery-auto__foto:hover{
    transform: scale(1.1);
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.form__submit{
    display: grid;
    width: 636px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.form__submit__item{
    border: 1px solid #898989;
}
.form__submit :not(.item_3, .item_7, .item_8)
{
    display: flex;
    align-items: center;
    height: 40px;
}
.item_1{
    grid-column-start: 1;
    grid-column-end: 3;
    border-color: #DB3138;
}
.item_2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.item_7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
}
.item_8{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: 22px;
    align-items: center;
}
.item_8 > img {
    padding-right: 10px;
    height: 24px;
    width: 24px;
}
.item_7, .item_8{
    height: 60px;
    border: 0;
}
.item_7>button>p{
    display: flex;
    justify-content: center;
}
.item_3{
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
a> img, a> img, a> img{
    width: 20px;
    height: 20px;
}
.item_4, .item_5, .item_6{
    display: flex;
    justify-self: end;
    width: 40px;
    justify-content: center;
}
.form-subtitle__text{
    margin-left: 10px;
}
.item__input{
    width: 100%;
    font: 24px "Yanone Kaffeesatz", sans-serif;
    padding: 15px 15px;
    border: none;
    color: inherit;
    background-color: transparent;   
}
.item__text-area{
    display: flex;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}
.submit{
    padding: 10px 25px;
}


.footer{
    width: 100vw;
}
.footer_line{
    position: absolute;
    width: 100%;
    border: 1px solid #898989;
}
.footer__menu{
    display: flex;
    padding: 25px 150px;
    justify-content: space-evenly;
}
.footer_menu_list{
    display: flex;
    gap: 30px;
}
.form-subtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.form-subtitle > img{
    width: 24px;
    height: 24px;
}
.form-sub__sub1{
    grid-column-start: 1;
    grid-column-end: 3;
}
.footer__menu__text{
    color: #898989;
}


.achieve_content_info-gray{
    color: #898989;
    font-size: 35px;
}
.achieve_content_info-text{
    font-size: 24px;
}
.achieve_content_info-grid > img{
    width: 200px;
    height: 50px;
}
.achieve_content_info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}


td{
    width: 100vw;
    border-top: 3px solid #898989;
    padding: 20px 0;
    text-align: center;
}
.table-money__info__cell-red{
    color: #DB3138;
}
.table-money__info__cell-gray{
    color: #898989;
}
.services__place-img{
    width: 100px;
    height: 100px;
}
.services__place-img-radius{
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
}
.services__subtile{
    display: flex;
    justify-content: space-between;
}  