@media (max-width: 1200px){
    .container{
       width: 100%;
    }
    body{
        font-size: 20px;
    }
    .main-text, .materials  {
        font-size: 30px;
    }
    .btn, .header_text-info{
        font-size: 25px;
    }
    .header_text-info{
        max-width: 70vw;
    }
    .foto{
        width: 350px;
    }
    .slider-button_subtitle{
        font-size: 14px;
    }
    .gallery-auto__grid{
        grid-template-columns: 0.8fr 0.8fr 0.8fr;
    }
    .services__place{
        grid-template-columns: 1fr 1fr;
    }
    .index-slider{
        display: grid;
        justify-items: center;
    }
    .index-slider-btn{
        width: 50px;
    }
    .services-foto{
        width: 50px;
    }
    .achieve{
        gap: 100px;
    }
    .romb > img{
        width: 130px;
    }
    .footer__menu__tex{
        text-align: center;
    }
    
}
@media(max-width: 1100px){
    .header_grid{
        display: grid;
        grid-template-columns: 0.8fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    body {
        font-size: 16px;
    }
    .main-text{
        font-size: 28px;
    }
    .materials{
        font-size: 23px;
    }
    .foto{
        width: 310px;
    }
    .slider-button_subtitle{
        font-size: 13px;
    }
    .gallery-auto__grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .services__place{
        grid-template-columns: 1fr 1fr;
    }
    .btn{
        width: 130px;
        height: 50px;
    }
    h1{
        font-size: 115px;
    }
    .achieve{
        gap: 45px;
    padding: 0 15px;
    }
    .header_grid_block-info{
        font-size: 20px;
    }
    .header_grid_block-info_content{
        font-size: 25px;
    }
    .foto-logo{
        width: 50px;
    }
    .footer__menu__tex{
        text-align: center;
    }

}
@media(max-width: 1000px){
    .gallery-auto__grid{
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .romb{
        margin: 15px 0;
    }
    .form-subtitle__text{
        font-size: 18px;
    }
    .footer__menu__tex{
        text-align: center;
    }
    .achieve{
        gap: 35px;
    }
    .index-slider{
        display: grid;
        justify-items: center;
    }
}
.image-slider .swiper-button-prev {
    left: 143px;
}
.image-slider .swiper-button-next {
    right: 120px;
}
    


    @media(max-width: 780px){
    body{
    &.activ{
        position: relative;
        left: 0 !important;
        flex-direction: column; 
        left: 0%;
        top: 50%;
        }
    &.lock{
        left: 0;
        position: fixed;
        z-index: 10;
        }
    }
} 
      
        @media(max-width: 780px){ 
            header{
            .header_menu{
            position: absolute;
            z-index: 2;
            top: 0;
            height: 100vh;
            width: 100%;
            display: flex;
            left: -100%;
            transition: .4s;
            background-color: rgba(0,0,0,0.8);
            margin: 0;
            &.activ{
                position: absolute;
                left: 0 !important;
                flex-direction: column; 
                left: 0%;
                top: 0%;
                margin: 0;
                overflow: scroll;
                }
        }
    }
        }
        
    
        @media(max-width: 780px){   
            .header_menu_list{
            flex-direction: column;
            gap: 15px;
            margin: auto;
            &_item_link{
                display: block;
                font-size: 35px;
                line-height: 70px;
                gap: 0;
                
            }
            }

        }
    
 @media(max-width: 780px){
    .burger{
        display: none;
        position: relative;
        transition: .4s;
        margin: 4% ;
        justify-content: end;
        z-index: 25;
        cursor: pointer;
        span{
            position: absolute;
            top: calc(50% - 1px);
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #DB3138;
            transition: all .4s;
            &:first-child{
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &.activ {
            span{
                transform: scale(0);
                &:first-child{
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child{
                    transform: rotate(45deg);
                    bottom: calc(50% - 2px);
                }
            }
        }
    }

    .container{
        padding: 0;
        margin-bottom: 100px;
    }
    .footer_menu_list{
        display: none;
    }
    .header_menu{
        justify-content: end;
    }
    .burger{
        display: flex;
        position: relative;
        width: 50px;
        height: 40px;
        z-index: 5;
    }
    .foto{
        width: 200px;
        height: 200px;
    }
    .index-slider-btn{
        width: 35px;
    }
    .romb > img {
        width: 100px;
    }
    .header_grid_block{
        padding: 30px 80p
    }
    .services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .services__place{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .services__place-kart{
        padding: 20px 15px 10px;
    }
    .form-container{
        display: flex;
        width: 80vw;
    }
    .form-subtitle__text{
        font-size: 15px;
    }
    .services__place-kart{
        width: 300px;
        height: 355px;
    }
    .services_subtitle{
        margin-left: 80px;
    }
    .gallery-auto__grid{
        justify-items: center;
    }
    .achieve_content_info-grid > img{
        width: 100px;
        height: 50px;
    }
    .footer__menu__tex{
        text-align: center;
    }
    .achieve{
        gap: 20px;
        padding: 0px 10px;
    }
    .index-slider{
        display: grid;
        justify-items: center;
    }
    .com2, .com3, .com4{
        display: none;
    }
    .com1, .com2, .com3, .com4{
        width: 315px;
        height: 355px;
    }
    .image-slider .swiper-button-prev {
        left: 93px;
    }
    .image-slider .swiper-button-next {
        right: 70px;
    }
}
@media(max-width: 575px){
    .swiper-button-prev, .swiper-button-next{
        display: none !important;
    }
}
@media(max-width: 520px){
    .index-slider__left > img, .index-slider__right > img{
        width: 60px;
        gap: 15px;
    }
    .services__subtile {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .image-slider .swiper-button-prev {
        left: 63px;
    }
    .image-slider .swiper-button-next {
        right: 40px;
    }

}
@media(max-width: 480px){
    .gallery-auto__grid{
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .container{
        padding: 0px;
    }
    .container > .table-money{
        padding: 0;
    }
    .container > .form{
        padding: 0;
    }
    .form-subtitle__text{
        font-size: 13px;
    }
    .gallery-auto__grid{
        grid-template-columns: 1fr 1fr;
        padding: 0 0 0 10px;
    }
    .footer__menu{
        padding: 25px 90px;
    }
    .footer_line{
        width: 126vw;
    }
    .footer{
        width: 108vw;
    }
    .services__title{
        text-align: center;
        align-items: center;
    }
    .services__deteiling{
        justify-content: center;
    }
   .services__place{
    padding: 0;
   }
   .form{
    padding: 0;
   }
   header{
        margin-left: 50px;
   }
   .header-foto{
        width: 126%;
        margin: 0 0 0 -70px;
   }
   .achieve_content-table {
        grid-template-columns: 1fr;
   }
   .achieve_content-table_two{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0 0 -157px;
   }
   .form-adatvive{
    margin: 15px;
   }
   .item_8{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10vw;
   }
   .btn {
    width: 100px;
   }
   .form-subtitle > img {
    width: 17px;
   }
   .form__header{
    text-align: center;
   }
   .achieve_content_info-gray{
    font-size: 15px;
   }
   .achieve_content_info-text{
    font-size: 15px;
   }
   .achieve_content_info-grid{
    display: none;
   }
   .footer__menu__tex{
    text-align: center;
   }
   h3{
    font-size: 70px;
    margin-top: -90px;
   }
   .achieve {
    gap: 15px;
    padding: 0 15px;
    }
    .com2, .com3, .com4{
        display: none;
    }
    .com1, .com2, .com3, .com4{
        width: 217px;
        height: 355px;
    }
    .image-slider .swiper-button-prev {
        left: 53px;
    }
    .image-slider .swiper-button-next {
        right: 30px;
    }
}
@media(max-width: 360px){
    .gallery-auto__grid{
        grid-template-columns: 1fr;
        padding: 0 10px;
    }
    .header_content{
        margin-left: -50px;
    }
    .services__place {
        padding: 0;
    }
    .container > .table-money{
        padding: 0;
    }
    .foto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 160px;
        object-fit: cover;
    }

    .footer__menu__tex{
        text-align: center;
    }
    .services__place-kart {
        width: 250px;
        height: 305px;
    }
    .slider-button_subtitle {
        font-size: 10px;
    }
    .header-foto{
        width: 131%;
    }
    h3{
        font-size: 50px;
        margin-top: -90px;
       }
       .services__place-kart__title{
        font-size: 28px;
       }
       .image-slider .swiper-button-prev {
        display: none;
    }
    .image-slider .swiper-button-next {
        display: none;
    }
    
}